


/*************************************** EmailIndex ***************************************/

.email-index-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-flow: column;
    grid-template-areas: "h"
                        "as";
}

.email-filter-wrapper {
    grid-area: 'h';
}

.sidebar-wrapper {
    grid-area: 'as';
}

.emails-folder-wrapper {
    grid-area: 'm';
    overflow: hidden;
}

.compose-btn {
    background-color: rgb(194, 231, 255);
    border: none;
    border-radius: 15px;
    text-indent: 7px;
    font-weight: 500;
    font-size: 1em;
    padding: 15px;
}

.sidebar-email-wrapper {
    height: 700px;
}

/*************************************** EmailFilter ***************************************/

.filter-wrapper {
    background-color: rgb(227, 235, 244);
    border-radius: 10px;
    margin-left: 100px;
}

.mail-filter-input {
    border: none;
    background-color: rgb(227, 235, 244);
    text-indent: 7px;
    font-size: 1em;
}

/*************************************** DropdownFilter ***************************************/

.dropdown-filter-wrapper {
    background-color: white;
    margin-top: 15px;
}

label {
    margin: 0 5px 0 10px;
}

/*************************************** Sidebar ***************************************/

.sidebar-wrapper {
    flex-basis: 22%;
    margin-top: 10px;
}

.sidebar-wrapper > span {
    margin-right: 10px;
    padding: 5px 10px 5px 5px;
    cursor: pointer;
    margin-top: 20px;
}

.sidebar-wrapper :first-child {
    margin-top: 0;
}

.sidebar-wrapper > span > span {
    margin-left: 5px;
}

.selected-folder {
    background-color: rgb(223, 234, 249);
    font-weight: 500;
    border-radius: 30px;
}

.inbox-unread-count {
    margin-left: auto;
}

/*************************************** EmailList ***************************************/

.emails-wrapper {
    background-color: white;
}

/*************************************** EmailPreview ***************************************/

.email-body-preview {
    --max-lines: 1;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    color: rgb(152, 145 ,150);
    margin-left: 5px;
    word-break: break-all;
}

.email {
    font-weight: bold;
    padding: 10px 0;
    position: relative;
}

.email:hover {
    box-shadow: 1px 1px 5px 1px rgba(100,121,143,0.8122);
    cursor: pointer;
}

.email:hover .mail-icons-read, .email:hover .mail-icons-unread {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 5.5px;
}

.email:not(:hover) .mail-icons-read, .email:not(:hover) .mail-icons-unread {
    display: none;
}

.read-email, .mail-icons-read {
    background-color: rgb(223, 234, 249);
}

.mark-as-unread, .mark-as-read {
    margin-right: 5.5px;
}

.mail-icons-unread {
    background-color: white;
}

.email-from {
    margin: 0 10px;
}

.text-subject, .email-from {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.email-date {
    margin-left: auto;
}

.email-date > span {
    margin-right: 5px;
}


/*************************************** EmailDetails ***************************************/

.email-sent-details {
    margin-top: 20px;
}

.displayed-email-wrapper {
    background-color: rgb(227, 237, 245);
    height: 100%;
    overflow: scroll; 
    box-sizing: content-box;
    width: 100%;
    padding: 10px 10px 10px 5px;
}

.email-body {
    padding: 20px;
    text-align: center;
}

/*************************************** EmailCompose ***************************************/

.email-compose-wrapper {
    max-width: 500px;
    max-height: 500px;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto 1fr auto; 
    /* height: 100%;  */
}

.compose-fullscreen {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20%;
    max-width: 1300px;
    max-height: 700px;
}

.email-compose-header {
    background-color: rgb(227, 237, 245);
    cursor: pointer;
}

.compose-to-input, .compose-subject-input {
    width: 95%;
    border: none;
    border-bottom: 1px solid rgb(236, 236, 236);
    font-size: 0.9rem;
}

.compose-to-input:focus, .compose-subject-input:focus {
    outline: none;
}

.compose-to-input:focus {
    letter-spacing: 1px;
}

.compose-body {
    padding: 5px;
    font-size: 0.9rem;
    border: none;
    resize: none;
}

.compose-body:focus {
    outline: none;
}

.compose-send-btn {
    background-color: #0b57d0;
    border-radius: 18px;
    color: white;
    padding: 5px 20px;
    border: none;
    font-size: 1rem;
}

.compose-delete-btn {
    opacity: 1;       
}

.screen-size-btns > .simple-button:hover {
    background-color: rgb(215, 223, 229);
}

/*************************************** UserMsg ***************************************/

.user-msg {
    background-color: lightgray;
    padding: 0.5em 1em;
    position: fixed;
    bottom: 10px;
    left: 20px;
    color: rgb(55, 55, 55);
    font-weight: bold;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeout 1s linear 2.1s;
}

.user-msg.success {
    background-color: lightgreen;
}

.user-msg.error {
    background-color: pink;
}

.user-msg button {
    /* float: right; */
    margin: 1em;
    /* width: fit-content; */
}