.home {
    text-align: center;
    margin-top: 50px;
}

.home h1 {
    font-size: 40px;
    margin: 10px;
}

.mail-icon-wrapper {
    position: relative;
}

.mail-icon-count {
    width: 20px;
    height: 20px;
    border: 2px solid red;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    color: white;
    font-weight: bold;
    right: -3px;
    top: -32px;
    line-height: 15px;
}